AWS_REGION=YOUR_AWS_REGION
AWS_ACCOUNT_ID=YOUR_AWS_ACCOUNT_ID
ECR_FRONTEND_REPO=YOUR_ECR_FRONTEND_REPO_NAME
ECR_BACKEND_REPO=YOUR_ECR_BACKEND_REPO_NAME
IMAGE_TAG=latest
AWS_PROFILE=default
CONTROL_PLANE_HOST=YOUR_CONTROL_PLANE_IP
CONTROL_PLANE_USER=YOUR_USER
CONTROL_PLANE_DEPLOY_DIR=~/k8s-3tier-app/deploy
